{% extends "base.html" %}

{% block content %}

  <h2>Edit Post</h2>
  <form method="post">
    <div class="container">
      <div class="row center-block">
        <label>
          subject
          <br>
          <input type="text" name="subject" value="{{subject}}">
        </label>
      </div>
      <br>
      <div class="row center-block">
        <label>
          blog
          <br>
          <textarea name="content">{{content}}</textarea>
        </label>
      </div>
    </div>

    <div class="error">{{error}}</div>
    <input type="submit" Value = "Submit"> <a href='/blog'><h3>Cancel</h3></a>
  </form>

{% endblock %}