{% extends "base.html" %}
  {% block content %}
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="down">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="down">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error}}
      </div>

      <input type="submit">
    </form>
    <p>Don't have an account, click <a href="/signup">HERE</a> to register.</p>
  {% endblock %}
