<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    {# <link rel="stylesheet" type="text/css" href="/static/main.css"> #}
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
      .new {margin: 0 auto}
    </style>

  </head>

  <body class="new">
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error}}
      </div>

      <input type="submit">
    </form>
    <p>Don't have an account, click <a href="/signup">HERE</a> to register.</p>
  </body>

</html>
