{% extends "base.html" %}

{% block content %}
<div class="container">
  <br>
  <form method ="post">
    <label>
      <div class="post-title">
        Subject: {{subject}}
      </div>
    </label>
    <label>
      <div class="post-content">
        <p> {{content}}<p>
      </div>
    </label>
    <br>
    <h3> New Comment </h3>
    <label>
      <textarea class="center-block" name = "comment">{{comment}}</textarea>
    </label>
    <div class = "error">
      {{error}}
    </div>
    <input type = "submit" value="Submit Comment">
    <br>
    <br>
  </form>
</div>
{% endblock %}