{% extends "base.html" %}

{% block content %}

  {{post.render() | safe}}

  {% for p in post.comments %}
    <br>
    <br>
    <div class = "row">
        <div class="col-sm-6"> By
            {{p.cAuthor}} at {{p.created_.strftime("%H:%M%p on %b %d, %Y")}}
        </div>
        <div class="col-sm-9 comment-content">{{p.comment}}</div>
    </div>


    <div align = "right">
        <span class = "editcmt"> <a href = '/blog/{{post.key().id()}}/editcomment/{{p.key().id()}}'>Edit</a></span>
        <span class = "delcmt"><a href = '/blog/{{post.key().id()}}/deletecomment/{{p.key().id()}}'>Delete</a></span>
   </div>
    <br>
    <br>
  {% endfor %}

{% endblock %}
